@model IEnumerable<DyeChemicalTr>

@{
    var title = $"Loan Taken In Tr";
    ViewData["Title"] = $"{title}s";

    var AddOrUpdateAction = "/cs/LoanTakenInTr/AddOrUpdate/";
    var DeleteAction = "/cs/LoanTakenInTr/Delete/";
    //var ReportAction = "/cs/LoanTakenInTr/DetailReport/";
    var LoanTakenInDetailReportAction = "/cs/LoanTakenInTr/LoanTakenInDetailReport/";

    Layout = "_Layout";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>@title Management</h5>
                @if (User.Claims.Any(x => x.Value == AccountClaimKeys.CS_LOAN_TAKEN_IN_TR_CREATE)) {<button href="#@AddOrUpdateAction" class="btn btn-primary create-js" data-action="#@AddOrUpdateAction" data-title="Create @title">ADD NEW </button>}
            </div>
            <div class="card-block">
                <div class="dt-responsive table-responsive">
                    <div id="simpletable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="">
                            <div class="col-xs-12 col-sm-12">
                                <table id="BrandsTable" data-order="[[ 2, &quot;asc&quot; ]]" class="table table-striped table-bordered nowrap sdataTable" role="grid" aria-describedby="simpletable_info">
                                    <thead>
                                        <tr role="row">
                                            <th>Is Cancel ?</th>
                                            <th>No</th>
                                            <th>Transaction Date</th>
                                            <th>IGP No</th>
                                            <th>Party</th>
                                            <th>Fare Price</th>
                                            <th>IGP Reff No</th>

                                            @*<th>Invoice No</th>
        <th>Invoice Date</th>*@
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var c in Model) {
                                        <tr role="row">
                                            <td class="sorting">
                                                <div class="border-checkbox-section">
                                                    <div class="row">
                                                        <div class="col-12 border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" disabled="disabled" @{var isCancel = c.IsCancel == true ? "checked" : ""; } @isCancel>
                                                            <label class="border-checkbox-label" for="IsCancel"> </label>
                                                        </div>
                                                    </div>



                                                </div>

                                            </td>
                                            <td>@c.Sno</td>
                                            <td>@c.TransactionDate.ToString("dd MMM yyyy")</td>
                                            <td>@c.GateTr?.Sno</td>
                                            <td>@c.Party?.Name</td>
                                            <td>@c.FairPrice</td>
                                            <td>@c.IGPReffNo</td>
                                            @*<td>@c.InvoiceNo</td>
        <td>@c.InvoiceDate?.ToString("dd MMM yyyy")</td>*@
                                            <td style="width:150px;">
                                                <a href="@LoanTakenInDetailReportAction@c.Id" class="btn btn-outline-secondary">Detail Report</a>
                                                <a asp-action="Details" asp-route-id="@c.Id" class="btn btn-primary">Details</a>
                                                @if (User.Claims.Any(x => x.Value == AccountClaimKeys.CS_LOAN_TAKEN_IN_TR_EDIT))
                                                {<button type="button" class="btn btn-primary update-js" data-action="#@AddOrUpdateAction@c.Id" data-title="Update @title">Edit</button>}
                                            </td>

                                        </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr role="row">
                                            <th>Is Cancel ?</th>
                                            <th>No</th>
                                            <th>Transaction Date</th>
                                            <th>Igp Ogp No</th>
                                            <th>Party</th>
                                            <th>Fare Price</th>
                                            <th>IGP Reff No</th>

                                            @*<th>Invoice No</th>
        <th>Invoice Date</th>*@
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>