@*@model IEnumerable<TexStyle.Core.PPC.OutwardGatePass>
@{
    var title = $"Outward Gate Pass";
    ViewData["Title"] = $"{title}es";
    var AddOrUpdateAction = "/ppc/OGP/AddOrUpdate/";
     var OGPDetailReportAction = "/ppc/OGP/OGPDetailReport/";
    Layout = "_Layout";
}


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>@title Management</h5>
                @if (User.Claims.Any(x => x.Value == AccountClaimKeys.PPC_OGP_CREATE))
                {
            <a href="#@AddOrUpdateAction" class="btn btn-primary create-js" data-action="@AddOrUpdateAction" >ADD NEW </a>}

            

            </div>


            <div class="card-block">
                <div class="dt-responsive table-responsive">
                    <div id="simpletable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="">
                            <div class="col-xs-12 col-sm-12">
                                <table id="BrandsTable" class="table table-striped table-bordered nowrap sdataTable" role="grid" aria-describedby="simpletable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting">Actions</th>
                                            <th class="sorting_asc">OGP No</th>
                                            <th class="sorting">Date</th>
                                            <th class="sorting">Activity Type</th>
                                            <th class="sorting">Yarn Type</th>
                                            <th class="sorting">Party</th>
                                            <th class="sorting">Invoice No</th>
                                            <th class="sorting">Invoice Amount</th>
                                            <th class="sorting">Invoice Description</th>
                                            <th class="sorting">Is Recheck/ReWind?</th>
                                            <th class="sorting">Is Reprocess?</th>
                                            <th class="sorting">Return To Party?</th>
                                            <th class="sorting">Is Confirmed?</th>
                                            <th class="sorting">Is Canlced</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var c in Model) {
                                        <tr role="row">
                                            <td style="width:150px;">
                                                <a href="@OGPDetailReportAction@c.Id" class="btn btn-outline-secondary">OGP Detail Report</a>
                                                <a asp-action="Details" asp-route-id="@c.Id" class="btn btn-primary">Details</a>
                                                @if (User.Claims.Any(x => x.Value == AccountClaimKeys.PPC_OGP_EDIT))
                                                {<button type="button" class="btn btn-primary update-js" data-action="#@AddOrUpdateAction@c.Id" data-title="Update @title">Edit</button>} <button type="button" class="btn btn-primary update-js" data-action="#@AddDetailsAction@c.Id" data-title="Detail @title">Details</button>
        @if (User.Claims.Any(x => x.Value == AccountClaimKeys.Something)){<button class="btn btn-danger item-delete-btn" data-delete-url="@DeleteAction@c.Id">Delete</button>}
                                               

                                            </td>
                                            <td class="sorting_1">@c.Id</td>
                                            <td class="sorting_2">@c.OgpDate</td>
                                            <td class="sorting_3">@c.ActivityType?.Name</td>
                                            <td class="sorting_3">@c.YarnType?.Name</td>
                                            <td class="sorting_3">@c.Party?.Name</td>
                                            <td class="sorting_3">@c.InvoiceNo</td>
                                            <td class="sorting_3">@c.InvoiceAmount</td>
                                            <td class="sorting_3">@c.InvoiceDescription</td>
                                            <td class="sorting_3">
                                                <div class="border-checkbox-section">
                                                    <div class="row">
                                                        <div class="col-12 border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" disabled="disabled" @{var isReCheck = c.IsReCheck == true ? "checked" : ""; } @isReCheck>
                                                            <label class="border-checkbox-label"> </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="sorting_3">
                                                <div class="border-checkbox-section">
                                                    <div class="row">
                                                        <div class="col-12 border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" disabled="disabled" @{var isReprocessed = c.IsReprocessed == true ? "checked" : ""; } @isReprocessed>
                                                            <label class="border-checkbox-label"> </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="sorting_3">
                                                <div class="border-checkbox-section">
                                                    <div class="row">
                                                        <div class="col-12 border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" disabled="disabled" @{var isReWaxRecheck = c.IsReturnToParty == true ? "checked" : ""; } @isReWaxRecheck>
                                                            <label class="border-checkbox-label"> </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="sorting_3">
                                                <div class="border-checkbox-section">
                                                    <div class="row">
                                                        <div class="col-12 border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" disabled="disabled" @{var isConfirmed = c.IsConfirm == true ? "checked" : ""; } @isConfirmed>
                                                            <label class="border-checkbox-label" for="IsConfirmed"> </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr role="row">
                                            <th class="sorting">Actions</th>
                                            <th class="sorting_asc">OGP No</th>
                                            <th class="sorting">Date</th>
                                            <th class="sorting">Activity Type</th>
                                            <th class="sorting">Yarn Type</th>
                                            <th class="sorting">Party</th>
                                            <th class="sorting">Invoice No</th>
                                            <th class="sorting">Invoice Amount</th>
                                            <th class="sorting">Invoice Description</th>
                                            <th class="sorting">Is Recheck/ReWind?</th>
                                            <th class="sorting">Is Reprocess?</th>
                                            <th class="sorting">Return To Party?</th>
                                            <th class="sorting">Is Confirmed?</th>
                                            <th class="sorting">Is Cancled</th>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        var modal = "#adminModal";
    </script>
}*@


@model IEnumerable<TexStyle.Core.PPC.OutwardGatePass>
@{
    var title = $"Outward Gate Pass";
    ViewData["Title"] = $"{title}es";
    var AddOrUpdateAction = "/ppc/OGP/AddOrUpdate/";
    var OGPDetailReportAction = "/ppc/OGP/OGPDetailReport/";
    Layout = "_Layout";
    var filter = ViewBag.filter;
}


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>@title Management</h5>
                @if (User.Claims.Any(x => x.Value == AccountClaimKeys.PPC_OGP_CREATE)){<button href="#@AddOrUpdateAction" class="btn btn-primary create-js" data-action="#@AddOrUpdateAction" data-title="Create @title">ADD NEW</button>}

            </div>


            <div class="card-block">
                <div class="dt-responsive table-responsive">
                    <div id="simpletable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="">
                            <div class="col-xs-12 col-sm-12">
                                <table id="BrandsTable" class="table table-striped table-bordered nowrap sdataTable" role="grid" aria-describedby="simpletable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting">Actions</th>
                                            <th class="sorting">Is Cancel?</th>
                                            <th class="sorting_asc">OGP No</th>

                                            @*@if (filter.IsYarn == false)
                                            {

                                                <th class="sorting">Lot No</th>
                                                <th class="sorting">Buyer</th>
                                                <th class="sorting">Total Lot Weight</th>

                                            }*@
                                            <th class="sorting">Date</th>
                                            <th class="sorting">Activity Type</th>

                                            @if (filter.IsYarn == true)
                                            {

                                                <th class="sorting">Yarn Type</th>

                                            }
                                            @*else
        {
            <th class="sorting">Fabric Type</th>


        }*@

                                            <th class="sorting">Party</th>
                                            <th class="sorting">SNo</th>


                                            <th class="sorting">Receiving Person</th>
                                            <th class="sorting">IDCard No</th>
                                            <th class="sorting">Vehicle No</th>
                                            <th class="sorting">OGP Reff No</th>
                                            @*<th class="sorting">Invoice No</th>

        <th class="sorting">Invoice Amount</th>*@
                                            <th class="sorting">Bility No</th>
                                            <th class="sorting">Is Recheck/ReWind?</th>
                                            <th class="sorting">Is Reprocess?</th>
                                            <th class="sorting">Return To Party?</th>
                                            <th class="sorting">Is Confirmed?</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var c in Model) {
                                        <tr role="row">
                                            <td style="width:150px;">
                                                <a target="_blank" href="@OGPDetailReportAction@c.Id" class="btn btn-outline-secondary">OGP Detail Report</a>
                                                <a asp-action="Details" asp-route-id="@c.Id" class="btn btn-primary">Details</a>


                                                @if (User.Claims.Any(x => x.Value == AccountClaimKeys.PPC_OGP_EDIT))
                                                {<button type="button" class="btn btn-primary update-js" data-action="#@AddOrUpdateAction@c.Id" data-title="Update @title">Edit</button>}
                                                @*<button type="button" class="btn btn-primary update-js" data-action="#@AddDetailsAction@c.Id" data-title="Detail @title">Details</button>*@
                                                @*@if (User.Claims.Any(x => x.Value == AccountClaimKeys.Something))
            <button class="btn btn-danger item-delete-btn" data-delete-url="@DeleteAction@c.Id">Delete</button>}*@
                                            </td>
                                            <td class="sorting">
                                                <div class="border-checkbox-section">
                                                    <div class="row">
                                                        <div class="col-12 border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" disabled="disabled" @{var isCancel = c.IsCancel == true ? "checked" : ""; } @isCancel>
                                                            <label class="border-checkbox-label" for="IsCancel"> </label>
                                                        </div>
                                                    </div>



                                                </div>

                                            </td>
                                            <td class="sorting_1">@c.Id</td>

                                            @*@if (filter.IsYarn == false)
                                            {

                                                <td class="sorting_2">@c.LotNo</td>
                                                <td class="sorting_2">@c.Buyer?.Name</td>
                                                <td class="sorting_2">@c.TotalWeight</td>
                                            }*@
                                            <td class="sorting_2">@c.OgpDate</td>
                                            <td class="sorting_3">@c.ActivityType?.Name</td>

                                            @if (filter.IsYarn == true)
                                            {
                                                <td class="sorting_3">@c.YarnType?.Name</td>
                                            }
                                            @*else
        {
        <td class="sorting_3">@c.FabricTypes?.Name</td>
        }*@


                                            <td class="sorting_3">@c.Party?.Name</td>
                                            <td class="sorting_3">@c.SerialNo</td>
                                            <td class="sorting_3">@c.ReceivingPerson</td>
                                            <td class="sorting_3">@c.IDCard</td>
                                            <td class="sorting_3">@c.VehicleNo</td>
                                            <td class="sorting_3">@c.OGPReffNO</td>
                                            <td class="sorting_3">@c.BilityNo</td>
                                            @*<td class="sorting_3">@c.InvoiceNo</td>
        <td class="sorting_3">@c.InvoiceAmount</td>
        <td class="sorting_3">@c.InvoiceDescription</td>*@
                                            <td class="sorting_3">
                                                <div class="border-checkbox-section">
                                                    <div class="row">
                                                        <div class="col-12 border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" disabled="disabled" @{var isReCheck = c.IsReCheck == true ? "checked" : ""; } @isReCheck>
                                                            <label class="border-checkbox-label"> </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="sorting_3">
                                                <div class="border-checkbox-section">
                                                    <div class="row">
                                                        <div class="col-12 border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" disabled="disabled" @{var isReprocessed = c.IsReprocessed == true ? "checked" : ""; } @isReprocessed>
                                                            <label class="border-checkbox-label"> </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="sorting_3">
                                                <div class="border-checkbox-section">
                                                    <div class="row">
                                                        <div class="col-12 border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" disabled="disabled" @{var isReWaxRecheck = c.IsReturnToParty == true ? "checked" : ""; } @isReWaxRecheck>
                                                            <label class="border-checkbox-label"> </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="sorting_3">
                                                <div class="border-checkbox-section">
                                                    <div class="row">
                                                        <div class="col-12 border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" disabled="disabled" @{var isConfirmed = c.IsConfirm == true ? "checked" : ""; } @isConfirmed>
                                                            <label class="border-checkbox-label" for="IsConfirmed"> </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>


                                        </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr role="row">
                                            <th class="sorting">Actions</th>
                                            <th class="sorting">Is Cancel?</th>
                                            <th class="sorting_asc">OGP No</th>

                                            @*@if (filter.IsYarn == false)
        {

            <th class="sorting">Lot No</th>
            <th class="sorting">Buyer</th>
            <th class="sorting">Total Lot Weight</th>

        }*@
                                            <th class="sorting">Date</th>
                                            <th class="sorting">Activity Type</th>

                                            @if (filter.IsYarn == true)
                                            {

                                                <th class="sorting">Yarn Type</th>

                                            }
                                            @*else
        {
            <th class="sorting">Fabric Type</th>


        }*@
                                            <th class="sorting">SNo</th>
                                            <th class="sorting">Party</th>


                                            <th class="sorting">Receiving Person</th>
                                            <th class="sorting">IDCard No</th>
                                            <th class="sorting">Vehicle No</th>
                                            <th class="sorting">OGP Reff No</th>
                                            @*<th class="sorting">Invoice No</th>

        <th class="sorting">Invoice Amount</th>*@
                                            <th class="sorting">Bility No</th>
                                            <th class="sorting">Is Recheck/ReWind?</th>
                                            <th class="sorting">Is Reprocess?</th>
                                            <th class="sorting">Return To Party?</th>
                                            <th class="sorting">Is Confirmed?</th>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        var modal = "#adminModal";
    </script>
}
