@model TexStyle.Core.CS.DyeChemicalTr
@{ ViewData["Title"] = ViewBag.reportTitle;

    var noData = "No Data Available";
    ViewData["Title"] = "IGP Report";
    decimal totalAmount = 0;
}
    

<style>
    body{
        font-family: Arial !important;
    }
    @@media print {
        .m-grid {
            margin-left: 50px;
        }

        .h {
            background-color: white;
        }

        .d {
            padding-left: 30px;
        }

        .card .card-block {
            /*        border: 1px solid black;
            border-top: 2px solid black;*/
            margin-top: -64px;
        }

            .card .card-block .s .d {
                padding-right: 60px;
            }
        /*           #any{



            }*/
    }

    .m .c {
        padding-left: 50px;
    }

  /*  table, td, th {
        border: 1px solid black;
    }*/

    table {
        width: 100%;
        border-collapse: collapse;
    }

    #span01 {
        display: inline-block;
    }

    #span02 {
        display: inline-block;
    }

    #watermark {
        position: fixed;
        bottom: 100px;
        right: 100px;
    }

    /* makeup */

</style>


<div class="any">

    <div style="margin:initial; font-family:'Bookman Old Style';  " class="card user-activity-card">

        <div class="card-header d-flex justify-content-between align-items-center no-print">
            <button class="btn btn-sm btn-info " onclick="window.print()"><i class="ti-printer"></i></button>
        </div>

        <div class="card-block" style=" margin-left: 30px; margin-right: 30px;">
            <div class="w-100 text-center" style="line-height:2px; margin-bottom:30px;">
                <div class="m-grid">
                    <div class="row m-g-head">
                        <div class="col-3"></div>
                        <div class="col-6" style="line-height:2; font-size: 16px;">
                            <div style="line-height: 16px; font-weight: bold">@ViewBag.reportStatus  DYE AND CHEMICAL</div>
                            <div style="line-height:16px;">LOCAL PURCHASE IN</div>
                            @if (Model.IsCancel == true)
                            {
                <p style="color: RED;">This OGP is cancled </p>}
                        </div>
                        <div class="col-3" style="text-align:end; font-size:16px; padding-right:10px;">
                            <div style="font-weight: bold; line-height: 16px;">@ViewBag.CompanyName</div>
                            @if (@ViewBag.BranchName != null)
                            {
                <div style="line-height: 16px;">@ViewBag.BranchName</div>}
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="width:100%">
                <div class="col-3" style="font-weight:bold;">TR. No:</div>
                <div class="col-3">@Model.Sno</div>
                <div class="col-3" style="font-weight:bold;">Book OGPNo:</div>
                <div class="col-3">@Model.IGPReffNo</div>
            </div>
            <div class="row" style="width:100%">
                <div class="col-3" style="font-weight:bold;">TR Date:</div>
                <div class="col-3">@Model.TransactionDate.ToString("dd-MMM-yyyy")</div>
                <div class="col-3" style="font-weight:bold;">Party:</div>
                <div class="col-3">@Model.Party?.Name</div>
            </div>
            <div class="row" style="width:100%">
                <div class="col-3" style="font-weight:bold;">Bility No:</div>
                <div class="col-3">@Model.GateTr?.BillityNo</div>
                <div class="col-3" style="font-weight:bold;">Vehicle No:</div>
                <div class="col-3">@Model.GateTr?.VehicleNo</div>
            </div>
            <div class="row" style="width:100%">
                <div class="col-3" style="font-weight:bold;">DriverName:</div>
                <div class="col-3">@Model.GateTr?.DriverName</div>
                <div class="col-3" style="font-weight:bold;">ID No:</div>
                <div class="col-3">@Model.GateTr?.NICNo</div>
            </div>


            <div style="margin-top:20px; font-size:medium">
                <table width="100%">
                    <thead>
                        <tr style="text-align:center; line-height:40px; ">

                            <td width="25%" style="font-weight:bold; text-align:left">Dye/Chemical</td>
                            <td width="25%" style="font-weight:bold;">Weight</td>
                            <td width="25%" style="font-weight:bold;">Rate</td>
                            <td width="25%" style="font-weight:bold;">Amount</td>
                            @*<td width="16%" style="font-weight:bold;">Remarks</td>*@

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var igp in Model.DyeChemicalTrDetails.Where(x => !x.IsDeleted))
                            {

            <tr style="text-align:center; line-height:30px">

                @if (igp.ChemicalId.HasValue)
                {
        <td width="16%" style="text-align:left;">@igp.Chemical?.Name</td>
 }
    else
    {
        <td width="16%" style="text-align:left;">@igp.Dye?.Name</td>}


                <td width="16%">@Math.Round(igp.QtyDr ?? 0, 2)</td>
                <td width="16%">@igp.Rate</td>

                @{ decimal amount = (igp.QtyDr ?? 0) * igp.Rate;

        <td width="16%">@Math.Round(amount, 2)</td>
 totalAmount += Math.Round(amount, 2); }

                @*<td width="16%">@igp.Remarks</td>*@




            </tr>}
                        }


                        <tr style=" text-align:center; line-height:30px">
                            <td></td>
                            <td></td>
                            <td style="font-weight:bolder;">Total Amount: </td>
                            <td style="font-weight: bolder;">@totalAmount</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
