@model IEnumerable<TexStyle.ViewModels.PPC.Reports.EcruFabricPOWiseKnitterWiseReportViewModel>
@{
    ViewData["Title"] = "Inward Ecru Fabric Knitter-Wise";
    Layout = "_LayoutPrint";
    decimal groupSum = 0;
    decimal netKgsSum = 0;
}

<style>
    .table-responsive {
        overflow-x: visible !important;
    }

    .borders > tbody > tr > td, .borders > thead > tr > td {
        border: 1px solid black !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        line-height: 15px !important;
    }
</style>
@if (Model.Count() > 0)
{
    <div class="container">
        <div class="text-center" style=" line-height:16px;">
            <div style="text-align:end; font-weight:bold; font-size:22px;">
                <p>@Model.FirstOrDefault().CompanyName</p>
            </div>
            @if (Model.FirstOrDefault().CompanyBranch != null)
            {
                <div style="text-align: end; font-weight: bold; font-size: 16px; line-height:1px; ">
                    <p>@Model.FirstOrDefault().CompanyBranch</p>
                </div>}
        </div>
        <div class="text-center" style="float:right; line-height:10px;">
            <div style="height: 30px; border: solid 1px black; width: 100px; padding-top: 7px; font-weight: bold;">
                Report No.
            </div>
            <div style="height: 30px; border-left: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black; width: 100px; padding-top: 7px; font-weight: bold;">
                D-15
            </div>
        </div>

        <div class="row">
            <div class="w-100 text-center" style="margin-top:-110px">
                <h4>@ViewData["Title"]</h4>
                Report Dates: @Model.FirstOrDefault().DateFrom To @Model.FirstOrDefault().DateTo
            </div>
        </div>

    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-responsive" style="line-height:15px; font-family: 'Trebuchet MS','Lucida Grande', Arial, sans-serif; font-size:10px;">

            <thead>
                <tr class="report-detailheader">
                    <th width="15%">Party</th>
                    <th width="5%">GateTrId</th>
                    <th width="5%">IGPDate</th>
                    <th width="10%">FactoryPO</th>
                    <th width="20%">Buyer</th>
                    <th width="10%">Fabric Type</th>
                    <th width="10%">Fabric Quality</th>
                    <th width="10%">Dia</th>
                    <th width="5%">GSM</th>

                    <th width="8%">Net Weight</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var groupPO in Model.GroupBy(x => x.Knitter))
                {
                    groupSum = 0;
                    <tr style="font-weight:bold; width:100%;">
                        <td>@groupPO.Key</td>
                        <td colspan="9"></td>
                    </tr>

                    foreach (var item in groupPO)
                    {
                        <tr>
                            <td></td>
                            <td>@item.GateTrId</td>
                            <td>@item.IgpDate.ToString("dd-MM-yyyy")</td>
                            <td>@item.FactoryPO</td>
                            <td>@item.Buyer</td>
                            <td>@item.FabricType</td>
                            <td>@item.FabricQuality</td>
                            <td>@item.Dia</td>
                            <td>@item.GSM</td>
                            <td>@Math.Round(item.NetWeightInKg, 2)</td>
                        </tr>

                        groupSum += @Math.Round(item.NetWeightInKg, 2);



                    }
                    <tr style="border:1px solid black; font-weight:bold;">
                        <td colspan="7"></td>
                        <td colspan="2" style="text-align:right;">Party Total:</td>
                        <td>@groupSum</td>

                    </tr>
                    netKgsSum += groupSum;
                }
                <tr style="border-top:1px solid black; font-weight:bold;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" style="text-align:right;">Total Kgs:</td>
                    <td>@netKgsSum</td>
                </tr>

            </tbody>
            <tfoot>
                <tr>

                    <td colspan="5"></td>
                </tr>
            </tfoot>
        </table>
    </div>

}
else
{
    <h1><center> No Record in Report </center></h1>
}




