@model IEnumerable<TexStyle.Core.PPC.Reprocess>

@{
    var title = $"Reprocess";
    ViewData["Title"] = $"{title}s";
    var AddOrUpdateAction = "/ppc/Reprocess/AddOrUpdate/";
    var DeleteAction = "/ppc/Reprocess/Delete/";
    var filter = ViewBag.filter;

}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>@title Details</h5>
                    <a href="@AddOrUpdateAction?ppcplanningid=@ViewBag.pPCPlanningId" class="btn btn-primary" data-action="#@AddOrUpdateAction?ppcplanningid=@ViewBag.pPCPlanningId" data-title="Create @title">ADD NEW</a>

            </div>
            <div class="card-block">
                <div class="dt-responsive table-responsive">
                    <div id="simpletable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="">
                            <div class="col-xs-12 col-sm-12 m-dT">
                                <table id="" class="table table-striped table-bordered dataTable" role="grid" aria-describedby="simpletable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc">Reprocess ID</th>
                                            <th class="sorting_asc">LPS ID</th>
                                            <th class="sorting">Date</th>
                                            @*<th class="sorting">Rework Activity</th>*@

                                            @if (filter.IsYarn == true)
                                            {
                                        <th class="sorting">Cones</th> }
                                                    else
                                                    {

                                                        <th class="sorting">Cones</th>

                                                    }
                                            <th class="sorting">Kgs</th>
                                            <th class="sorting">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var c in Model) {
                                        <tr role="row">
                                            <td class="sorting_1" style="width:10px;">@c.Id</td>

                                            <td class="sorting_1" style="width:10px;">@c.PPCPlanningId</td>
                                            <td class="sorting_1">@c.Date.ToString("dd-MMM-yyyy")</td>
                                            @*  <td class="sorting_2">@ReworkActivities.GetAll.SingleOrDefault(a => a.Id == c.ReworkActivityId)?.Name</td>*@


                                            @if (filter.IsYarn == true)
                                            {
                                        <td class="sorting_3">@c.Cones</td> }
                                                        else
                                                        {

                                                            <td class="sorting_3">@c.NoOfRolls</td>

                                                        }



                                            <td class="sorting_4">@c.Kgs</td>
                                            <td style="width:150px;">
                                                <a href="@AddOrUpdateAction@c.Id" class="btn btn-primary" data-action="#@AddOrUpdateAction@c.Id" data-title="Update @title">Edit</a>
                                                <button disabled class="btn btn-danger item-delete-btn" data-delete-url="@DeleteAction@c.Id">Delete</button>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section scripts {
    <script type="text/javascript">
  modal = "#adminModal";
        
    </script>
}
