@model TexStyle.Core.PPC.FactoryPo
@{
    var title = $"Factory Po";
    ViewData["Title"] = $"{title} No. {Model.Id}";


    var AddOrUpdateAction = "/ppc/FactoryPoDetail/AddOrUpdate/";
 //   var DeleteAction = "/ppc/IGPDetail/Delete/";


  
    List<SelectListItem> gateIgpList = ViewBag.gateIgpList;
    var gateIgpSl = new SelectListItemViewModel
    {
        Name = "GateIgpId",
        PlaceHolder = "Select Gate IGP",
        UseDefault = false,
        SelectList = gateIgpList,
        IsReadonly = true

    };
    var filter = ViewBag.filter;

}


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>@title Management</h5>
                @*@if (User.Claims.Any(x => x.Value == AccountClaimKeys.Something)){<button href="#@AddOrUpdateAction" class="btn btn-primary create-js" data-action="#@AddOrUpdateAction" data-title="Create @title">ADD NEW</button>}*@
            </div>
            <div class="card-block">
                <div class="dt-responsive table-responsive">
                    <div id="simpletable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="">
                            <div class="col-xs-12 col-sm-12">
                                <div class="form-horizontal">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    @*<input type="hidden" asp-for="Id" />*@
                                    @Html.HiddenFor(m => m.Id)
                                <div class="row">
                                    <div class="form-group col-4">
                                        <label asp-for="Id" class="control-label"></label>
                                        <input asp-for="Id" readonly="readonly" disabled="disabled" value="@Model.Id" class="form-control" />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-4">
                                        <label asp-for="Date" class="control-label"></label>
                                        <input asp-for="Date" readonly="readonly" disabled="disabled" type="date" class="form-control" />
                                        <span asp-validation-for="Date" class="text-danger"></span>
                                    </div>

                                    <div class="form-group col-4">
                                        <label asp-for="Po" class="control-label"></label>
                                        <input asp-for="Po" readonly="readonly"  class="form-control" />
                                        <span asp-validation-for="Po" class="text-danger"></span>
                                    </div>

                                    <div class="form-group form-check col-3">
                                        <div class="border-checkbox-section">
                                            <div class="row">
                                                <div class="col-12 border-checkbox-group border-checkbox-group-primary">
                                                    <input class="border-checkbox" type="checkbox" value="@Model.IsCancel" disabled>
                                                    <label class="border-checkbox-label" asp-for="IsCancel"> Is Cancel</label>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>


                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>@title Details</h5>
                <button class="btn btn-primary create-js" data-action="@(AddOrUpdateAction)?ParentId=@(Model.Id)" data-title="Create @title Detail">ADD NEW</button>
            </div>
            <div class="card-block">
                <div class="dt-responsive table-responsive">
                    <div id="simpletable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div>
                            <div class="col-xs-12 col-sm-12 m-dT">
                                @*dataTable*@
                                <table id="IGPDetailsTable" class="table table-striped table-bordered nowrap sdataTable" role="grid" aria-describedby="simpletable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting">Fabric Type</th>
                                            <th class="sorting">Fabric Quality</th>
                                            <th class="sorting">Buyer Color</th>
                                            <th class="sorting">Gross Weight (Kg)</th>
                                       
                                            <th class="sorting">Net Weight (Kg)</th>
                                            <th class="sorting">GSM</th>
                                            <th class="sorting">Description</th>
                                            <th class="sorting">Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var c in Model.FactoryPoDetail.Where(x => !x.IsDeleted))
                                        {
                                            <tr role="row">
                                              


                                                <td class="sorting">@c.FabricTypes?.Name</td>
                                                <td class="sorting">@c.FabricQuality?.Name</td>                                        
                                                <td class="sorting">@c.BuyerColor?.Name</td>                                        
                                            
                                                <td class="sorting">@c.TearWeightInKg</td>
                                                <td class="sorting">@(c.NetWeightInKg)</td>
                                                <td class="sorting">@(c.GSM)</td>

                                                <td class="sorting">@c.Description</td>
                                           
                                                <td style="width:150px;">
                                                   
                                                    @if (User.Claims.Any(x => x.Value == AccountClaimKeys.PPC_IGP_DETAIL_EDIT))
                                                    {
                                                        <button type="button" class="btn btn-primary update-js" data-action="#@(AddOrUpdateAction)@(c.Id)/?ParentId=@(Model.Id)&sno=@(c.Sno)" data-title="Update @title">Edit</button>

                                                    }
                                                
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr role="row">
                                                <th class="sorting">Fabric Type</th>
                                                <th class="sorting">Fabric Quality</th>  
                                                <th class="sorting">Buyer Color</th>
                                              <th class="sorting">Gross Weight (Kg)</th>
                                          
                                               <th class="sorting">Net Weight (Kg)</th>
                                               <th class="sorting">GSM</th>                              
                                              <th class="sorting">Description</th>
                                            <th class="sorting">Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   


    </div>










</div>