@model TexStyle.Core.CS.DyeChemicalTr
@{ ViewData["Title"] = ViewBag.reportTitle;

                var noData = "No Data Available"; }




<style>
    @@media print {
        .m-grid {
            margin-left: 50px;
        }

        .h {
            background-color: white;
        }

        .d {
            padding-left: 30px;
        }

        .card .card-block {
            /*        border: 1px solid black;
            border-top: 2px solid black;*/
            margin-top: -64px;
        }

            .card .card-block .s .d {
                padding-right: 60px;
            }
        /*           #any{



            }*/
    }

    .m .c {
        padding-left: 50px;
    }

    table, td, th {
        border: 1px solid black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    #span01 {
        display: inline-block;
    }

    #span02 {
        display: inline-block;
    }

    #watermark {
        position: fixed;
        bottom: 100px;
        right: 100px;
    }

    /* makeup */

</style>


<div class="any">

    <div style="margin:initial; font-family:'Bookman Old Style';  " class="card user-activity-card">

        <div class="card-header d-flex justify-content-between align-items-center no-print">
            <button class="btn btn-sm btn-info " onclick="window.print()"><i class="ti-printer"></i></button>
        </div>
        @*<div style="height:15px;"></div>
            <div style="height:15px;"></div>*@
        <div class="card-block" style=" margin-left: 30px; margin-right: 30px;">
            <div class="w-100 text-center" style="line-height:2px; margin-bottom:30px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                <img src="~/images/logo.png" width="80" height="45" style="padding-top:10px;  " />
                <h3 style="font-weight:bold; justify-content:center; font-family:'Times New Roman'">COMFORT SURGICAL COTTON &amp; YARN DYEING</h3>

                <div class="m-grid">
                    <div class="row m-g-head">
                        <div class="col-2"></div>
                        <div class="col-7" style="line-height:2 ">

                            <h4 style="font-family: 'Times New Roman'; ">@ViewBag.reportStatus  DYE AND CHEMICAL</h4>
                            <h5>Loan Taken Return Out</h5>
                            @if (Model.IsCancel == true)
                            {
                <h4 style="color: RED; font-family:'Times New Roman'">This OGP is cancled </h4>}
                        </div>
                    </div>
                </div>
            </div>

            <span id="span01">
                <div style="margin-top:10px; font-size:medium ">
                    <table width="100%">
                        <tr style="margin-top:20px; font-size:medium; text-align:center; ">

                            <td width="50%" style="border:hidden;margin-top:20px "></td>
                            <td width="50%" style="border-top:hidden; border-left:hidden; border-bottom:hidden;margin-top:20px"></td>
                            <td style="font-weight: bolder; background-color:lightgray; margin-top:20px">Sr No  :  </td>
                            <td>@Model.Id</td>


                        </tr>
                        <tr style="margin-top:20px; font-size:medium; text-align:center; ">

                            <td width="50%" style="border:hidden;"></td>
                            <td width="50%" style="border-top:hidden; border-left:hidden; border-bottom:hidden;"></td>

                            <td style="font-weight: bolder; background-color:lightgray">DATE  :  </td>
                            <td>@Model.TransactionDate.ToString("dd-MMM-yyyy")</td>
                        </tr>
                    </table>

                </div>
            </span>
            <div style="height:15px;"></div>

            <div style=" font-size:medium;text-align:center">
                <table width="100%">
                    <tr style="line-height:30px">

                        <td width="14%" style="font-weight: bolder;">To</td>
                        <td width="20%">@Model.Party?.Name</td>
                        @*<td ></td>*@


                        <td width="14%" style="font-weight: bolder; ">Bility No</td>
                        <td width="14%">@Model.GateTr?.BillityNo</td>


                        <td width="14%" style="font-weight: bolder; ">Book OGPNo</td>
                        <td width="14%">@Model.IGPReffNo</td>

                    </tr>
                    <tr style="line-height: 30px">

                        <td width="14%" style="font-weight: bolder; ">DriverName</td>
                        <td width="14%">@Model.GateTr?.DriverName</td>

                        <td width="14%" style="font-weight: bolder;">Vehicle No</td>
                        <td width="14%">@Model.GateTr?.VehicleNo</td>

                        <td width="14%" style="font-weight: bolder; "> ID No</td>
                        <td width="14%">@Model.GateTr?.NICNo</td>

                    </tr>
                </table>
            </div>

            <div style="margin-top:20px; font-size:medium">
                <table width="100%">
                    <thead>
                        <tr style="border-bottom: 1px solid black; text-align:center; line-height:40px; background-color:lightgray">
                            <td width="16%" style="font-weight:bold;">Dye/Chemical</td>

                            <td width="16%" style="font-weight:bold;">Quantity</td>

                            <td width="16%" style="font-weight:bold;">Remarks</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {


                            foreach (var igp in Model.DyeChemicalTrDetails.Where(x => !x.IsDeleted))
                            {

            <tr style="border-bottom:1px solid black; text-align:center; line-height:30px">

                @if (igp.DyeId != null)
                {
<td class="col-4 p-0" style="font-weight:bold;">@igp.Dye?.Name</td>
 }
else
{
<td class="col-4 p-0" style="font-weight:bold;">@igp.Chemical?.Name</td>
}

                @if (igp.QtyCr != null)
                {
<td class="col-2 p-0">@igp.QtyCr</td>
 }
else
{
<td class="col-2 p-0">@igp.QtyDr</td>
}
                <td>@igp.Remarks</td>

            </tr> }
            <tr style=" text-align:center; line-height:30px">
                <td></td>

                @if (@Model.DyeChemicalTrDetails.FirstOrDefault().QtyCr != null)
                {
<td class="col-2 p-0" style="font-weight: bolder;">@Model.DyeChemicalTrDetails.Sum(x => x.QtyCr)</td>
 }
else
{
<td class="col-2 p-0" style="font-weight: bolder;">@Model.DyeChemicalTrDetails.Sum(x => x.QtyDr)</td>
}
            </tr>}

                    </tbody>
                </table>
            </div>


        </div>
    </div>

