@using TexStyle.ViewModels
@model TexStyle.ViewModels.Gate.GateTrDetailViewModel;
@{
    ViewData["Title"] = "Add Or Update";

    var chemicalSl = new SelectListItemViewModel
    {
        Name = nameof(Model.ChemicalId),
        PlaceHolder = "Select Chemical",
        UseDefault = false,
        SelectList = ViewBag.chemicalList
    };

    var dyeSl = new SelectListItemViewModel
    {
        Name = nameof(Model.DyeId),
        PlaceHolder = "Select Dye",
        UseDefault = false,
        SelectList = ViewBag.dyeList
    };
    //var YarnTypeSl = new SelectListItemViewModel
    //{
    //    Name =     nameof(Model.YarnTypeId),
    //    PlaceHolder = "Select Yarn Type",
    //    UseDefault = false,
    //    SelectList = ViewBag.yarnTypeList
    //};

}

<form asp-area="@AreaConstants.GATE.Name" asp-controller="GateIGPLoanDyesChemicalDetail" asp-action="AddOrUpdate" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.GateTrId)
        @Html.HiddenFor(m => m.OGPGateTrDetailId)
        @Html.HiddenFor(m => m.Rate)

    <div class="row">
        @*<div class="form-group col-4">
            <label class="control-label">No</label>
            <input class="form-control" readonly="readonly" disabled="disabled" value="@Model.Id" />
            <span class="text-danger"></span>
        </div>*@
        @*<div class="form-group col-4">
            <label class="control-label">Yarn IGP No</label>
            <input class="form-control" readonly="readonly" disabled="disabled" value="@Model.GateTrId" />
            <span class="text-danger"></span>
        </div>*@
        <div class="form-group col-4">
            <label class="control-label" asp-for="ChemicalId"></label>
            <select asp-for="ChemicalId" select2="@(ViewBag.chemicalList)" select2-ph="Select Chemical" class="form-control select2"></select>
            <span asp-validation-for="ChemicalId" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label class="control-label" asp-for="DyeId"></label>
            <select asp-for="DyeId" select2="@(ViewBag.dyeList)" select2-ph="Select Dye" class="form-control select2"></select>
            <span asp-validation-for="DyeId" class="text-danger"></span>
        </div>
        @*<div class="form-group col-4">
            @if (YarnTypeSl != null)
            {
                <label class="control-label" asp-for="YarnTypeId"></label>
                <partial name="@AppConsts.SelectListPartial" model="YarnTypeSl" />
            }
            @Html.HiddenFor(x => x.YarnTypeId)
            <span asp-validation-for="YarnTypeId" class="text-danger"></span>
        </div>*@

        @* <div class="form-group col-4">
            <label asp-for="QtyCr" class="control-label"></label>
            <input asp-for="QtyCr" class="form-control" />
            <span asp-validation-for="QtyCr" class="text-danger"></span>
        </div>*@

        <input type="text" hidden id="kgs" @{var availablekgs = Model.AvailableKgs != 0 ? Model.AvailableKgs : 0; } value="@availablekgs" />
        <div class="form-group col-7">
            <label class="control-label">Kgs <span class="text-warning"> <small>Available: </small><span id="availableKgs"><small> @availablekgs</small></span></span></label>
            <input asp-for="QtyDr" class="form-control" />
            <span asp-validation-for="QtyDr" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="Packet" class="control-label"></label>
            <input asp-for="Packet" class="form-control" />
            <span asp-validation-for="Packet" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="Description" class="control-label"></label>
            <textarea rows="3" asp-for="Description" class="form-control">@Model.Description</textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

    </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="btnSubmit">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</form>

@*<script>
    //$(document).on('change', "#QtyDr", function (e) {
    //    e.preventDefault();
    //    var available = $("#kgs").val();
    //    var qty = $("#QtyDr").val();
    //    if (qty > available) {
    //        $("#QtyDr").val(available);
    //        $("#availableKgs").change().text("Max Qty Allowed is " + available);
    //    }
    //});

</script>*@


<script type="text/javascript">
    $("button").click(function () {
        debugger;
        $("#btnSubmit").attr('disabled', true);
    }
</script>