@model IEnumerable<TexStyle.ViewModels.YD.Reports.DyeingRecipe_D2ViewModel>
@{ Layout = "_LayoutPrint"; }
<style>
    .table-responsive {
        overflow-x: visible !important;
    }

    table {
        border-collapse: collapse;
    }

    td {
        padding-top: .2em;
        padding-bottom: .2em;
    }
</style>

<div>

    <div>
        <div class="w-100 text-center" style="margin-bottom:30px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">

            <h4 style="font-weight:bold;">COMFORT KNITWEAR (PVT) LTD(YARN/FIBER DYEING DIVISION)</h4>
            <div class="m-grid">
                <div class="row m-g-head">
                    <div class="col-2"></div>
                    <div class="col-7"><h4>DYEING COSTING RECEIPE (Do not issue dyes and Chemicals)</h4></div>
                    <div class="col-2"></div>
                    <div class="col-7"><h3> (Do not issue dyes and Chemicals)</h3></div>


                </div>

                @if (Model.Count() > 0)
                {


            <div class="row m-g-head">


                <div class="col-1" style="font-weight: bolder; ">Date:</div>
                <div class="col-2" style=" border: 1px solid #000000;">@Model.FirstOrDefault().Date.ToString("dd-MM-yyyy")</div>
                <div class="col-1" style="font-weight: bolder; ">RecipeNo:</div>
                <div class="col-1" style=" border: 1px solid #000000;">@Model.FirstOrDefault().No</div>
                @*<div class="col-1"></div>*@

                <div style="font-weight: bolder; ">LiqureRate:</div>
                <div class="col-2" style=" border: 1px solid #000000;">@Model.FirstOrDefault().LiquorRate</div>
                <div class="col-1" style="font-weight: bolder; border-bottom: 0.2px solid #d5d4d4;">Party:</div>
                <div class="col-2" style=" border: 1px solid #000000;">@Model.FirstOrDefault().Party</div>




            </div>

                    <div class="col-3"></div> <div class="col-3"></div> <div class="col-3"></div><div class="col-3"></div> <div class="col-3"></div> <div class="col-3"></div> <div class="col-3"></div> <div class="col-3"></div> <div class="col-3"></div><div class="col-3"></div> <div class="col-3"></div> <div class="col-3"></div>

                                                                                                                                                                                                                                                                                                                <div class="row m-g-head">



                                                                                                                                                                                                                                                                                                                    <div class="col-1" style="font-weight: bolder; border-bottom: 0.2px solid #d5d4d4;">Formate:</div>
                                                                                                                                                                                                                                                                                                                    <div class="col-2" style=" border: 1px solid #000000;">@Model.FirstOrDefault().Format</div>

                                                                                                                                                                                                                                                                                                                    <div class="col-1" style="font-weight: bolder; border-bottom: 0.2px solid #d5d4d4;">Color:</div>
                                                                                                                                                                                                                                                                                                                    <div class="col-2" style="border: 1px solid #000000;">@Model.FirstOrDefault().Color</div>

                                                                                                                                                                                                                                                                                                                    <div class="col-1" style="font-weight: bolder; border-bottom: 0.2px solid #d5d4d4;">Machine:</div>
                                                                                                                                                                                                                                                                                                                    <div class="col-2" style="border: 1px solid #000000;">@Model.FirstOrDefault().MachineType</div>
                                                                                                                                                                                                                                                                                                                    <div class="col-1" style="font-weight: bolder; border-bottom: 0.2px solid #d5d4d4;">Weight:</div>
                                                                                                                                                                                                                                                                                                                    <div class="col-1" style=" border: 1px solid #000000;">@Model.FirstOrDefault().Weight</div>







                                                                                                                                                                                                                                                                                                                </div>}



            </div>





            <div class="table-responsive">
                <table class="table table-responsive">
                    <thead>
                        <tr>

                            <th scope="col" width="14%"></th>
                            <th scope="col" width="14%"></th>
                            <th scope="col" width="14%"></th>
                            <th scope="col" width="14%"></th>
                            <th scope="col" width="14%"></th>
                            <th scope="col" width="14%"></th>
                            <th scope="col" width="14%"></th>
                            <th scope="col" width="14%"></th>


                        </tr>

                    </thead>
                    <tbody>
                        <tr class="report-detailheader" style="background-color:lightgray;">
                            <td style="font-weight: bolder ; margin-right:20px;">Step</td>
                            <td style="font-weight: bolder">Name</td>
                            <td style="font-weight: bolder">Kgs </td>
                            <td style="font-weight: bolder">GPL</td>
                            <td style="font-weight: bolder">Percentage</td>
                            <td style="font-weight: bolder">Water</td>        
                            <td style="font-weight: bolder">Cost  </td>    
      
                    
                            <td></td>
                            <td></td>
                        </tr>

                        @if (Model.Count() > 0)
                        {
                            foreach (var grp in Model)
                            {@*<tr>
                                <td colspan="14">

                                    <strong>@grp.RecipeName</strong>
                                </td>
                            </tr>*@ foreach (var item in grp.DyeingRecipeDetail_D2ViewModels)
                            {
                                <tr class="report-detail" style="padding-bottom:-20px;">
                                    <td width="18%" style="font-size:larger; font-weight:bolder ; ">@item.RecipeName</td>
                                    <td width="18%" style="font-size:large; font-weight:bold;text-decoration: underline; margin-bottom:-20px;">@item.ItemName</td>
                                    <td width="18%" style="font-size:large; font-weight:bold; ">@item.Kgs?.ToString("0.000")</td>
                                    <td width="18%" style="font-size:large; font-weight:bold; ">@item.Gpl.ToString("0.00")</td>
                                    <td width="18%" style="font-size:large;  font-weight:bold;">@item.Percentage.ToString("0.00")</td>
                                    <td width="18%" style="font-size:large;font-weight:bold;  ">@item.Water?.ToString("0.00")</td>

                                    <td width="18%" style="font-size:small; font-weight:bold; ">@item.CostPerKgDye?.ToString("0.000")</td>

                                    @*<td width="18%" style="font-size:small; font-weight:bold; ">@item.CostPerKgChemical?.ToString("0.00")</td>*@

                                </tr>
                            }


                            <tr>
                                <th scope="col" width="18%"></th>
                                <th scope="col" width="18%"></th>
                                <th scope="col" width="18%"></th>
                                <th scope="col" width="18%"></th>
                                <th scope="col" width="18%"></th>
                                <th scope="col" width="18%"></th>
                             
              
                             
                               
                           

  
   <td colspan="2" width="18%"  style="background-color:lightgray; font-size:small;font-weight:bold;">@Model.FirstOrDefault().Total.ToString("0.00")<td>


                            
                               




                            </tr>

                            <tr></tr>
                            <tr></tr>
                            <tr></tr>
                        }
                    }








                    </tbody>
                </table>
            </div>


            

